.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #1cca41;
  color: white;
  animation: fadeInOut 3s;

  @keyframes fadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    20%,
    80% {
      opacity: 1;
    }
  }
}
