/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}
