.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-height: 72vh;
  overflow: auto;
  padding: 20px;

  ::-webkit-scrollbar {
    width: 10px;

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: #1d89fb;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #135ba3;
    }
  }
}

canvas {
  width: 100%;
  height: auto;
}
